* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{       /*estilizar cabeçalho*/
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase; /*para deixar texto maísculo */
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px; /*margem do h2*/
}

input, button {
    padding: 8px;

}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase; 
    color: #fff;
    cursor: pointer;
}

#botao-cancelar{        /*para deixar o botao vermelho*/
    background-color: red; 
}

ul {
    display: flex; /*para deixar o elemento ao lado do outro*/
    flex-wrap: wrap; /*para qd prencher uma linha crie outra abaixo*/
}

ul li {
    max-width: 25%; /*isso deixa as imagem um lado do outro*/
    list-style: none; /*remove um ponto q aparece na img*/
    position: relative; /*para deixar em cima da imagem o link*/
    max-height: 280px;
    overflow-y: hidden; /*overflow-y eixo vertical  hidden= para ocultar o limite dado para cada img */
}

ul li img {
    width: 100%; /*esse deixa o limite e altura de todos os itens igual*/
    height: 100%;
}

.overlay-imagem-link {
    padding: 16px; /*espaçamento*/
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /*largura*/
    opacity: 0;  /*para ocultar faixa de descrição */
    transition: all ease .5s; /*para fazer aparecer a faixa mais suavemente */
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none; /*para remover anderline no link*/
}

ul li:hover .overlay-imagem-link {
    opacity: 1; /*para aparecer qd passar o mause e parecer a descrição do link*/
}